@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  html > body,
  html > body input,
  html > body select,
  html > body textarea,
  html > body pre,
  html > body button {
    font-family:"RixInooAriDuriR";
    color: #333;
  }